In [2]:

#------------------------------------------------------------------------------
#------------------------------------------------------------------------------

import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import os
import pickle
import pandas as pd
import scipy as sp
import scipy.stats
import sys

from IPython.display import display
from scipy.stats import poisson
from pax_utils import utils_pax

In [4]:

#------------------------------------------------------------------------------
#------------------------------------------------------------------------------

dir_input = 'merged/apr30/'
file_inst = '../pax_instructions/merged_instructions_files.pkl'
file_pax  = dir_input + 'merged_zip_200000.pkl'
file_all  = dir_input + 'merged_all_200000.pkl'

nInst = 200000
#nInst = 2000

df_inst = pd.read_pickle(file_inst)[:][0:nInst].reset_index(drop=True).rename(columns={'instruction': 'event_number'}).copy()
df_pax  = pd.read_pickle(file_pax).reset_index(drop=True)

df_inst['event_number'] = df_inst.index
df_pax ['event_number'] = df_pax.index

rows = 1

print(df_inst.shape)
print(df_pax.shape)

display(df_inst[0:rows][:])
display(df_pax[0:rows][:])

nInst = df_inst.shape[0]
nPax  = df_pax.shape[0]

if (nInst != nPax):
    
    print("Error! number of pax events (" +str(nPax) + ") not equal to number of instructions (" + str(nInst) + ")")

(200000, 8)
(200000, 148)

,event_number,recoil_type,x,y,depth,s1_photons,s2_electrons,t
0,0,ER,4.628629,27.725661,24.814994,5,20,650000.0

,event_number,event_n_pulses,event_pulses_count,event_s2_count,event_s2_left,event_s2_right,event_s2_length,intr_count,intr_x,intr_y,...,s2_area_117,s2_area_118,s2_area_119,s2_area_120,s2_area_121,s2_area_122,s2_area_123,s2_area_124,s2_area_125,s2_area_126
0,0,190,190,3,82836,83317,482,0,-24.064536,-7.107143,...,1.584757,0.0,2.464882,0.924652,0.0,1.981129,3.65679,0.0,1.322134,2.032758

In [5]:

#------------------------------------------------------------------------------
#------------------------------------------------------------------------------

df_all = pd.merge(df_inst, df_pax, on='event_number')

print(file_all)

df_all.to_pickle(file_all)


#------------------------------------------------------------------------------
#------------------------------------------------------------------------------

df_test = pd.read_pickle(file_all)
nEvents = df_test.shape[0
                       ]
print()
print("MergedEvents: " + str(nEvents))
display(df_test[:][0:5])
print()

merged/apr30/merged_all_200000.pkl